In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [3]:
df = pd.read_csv("~/projects/us-education-datasets-unification-project/data/us-education-datasets-unification-project/states_all_extended.csv")

In [4]:
df.shape

(1492, 193)

In [5]:
np.sqrt(df.shape[0])
df.shape[0]/50

29.84

In [6]:
df.head(5)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_TRF,GRADES_8_TRF,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.398961,260.892247,196.764414,NaN

In [7]:
df.columns.tolist()

['PRIMARY_KEY',
 'STATE',
 'YEAR',
 'ENROLL',
 'TOTAL_REVENUE',
 'FEDERAL_REVENUE',
 'STATE_REVENUE',
 'LOCAL_REVENUE',
 'TOTAL_EXPENDITURE',
 'INSTRUCTION_EXPENDITURE',
 'SUPPORT_SERVICES_EXPENDITURE',
 'OTHER_EXPENDITURE',
 'CAPITAL_OUTLAY_EXPENDITURE',
 'GRADES_PK_G',
 'GRADES_KG_G',
 'GRADES_4_G',
 'GRADES_8_G',
 'GRADES_12_G',
 'GRADES_1_8_G',
 'GRADES_9_12_G',
 'GRADES_ALL_G',
 'GRADES_PK_AM',
 'GRADES_KG_AM',
 'GRADES_4_AM',
 'GRADES_8_AM',
 'GRADES_12_AM',
 'GRADES_1_8_AM',
 'GRADES_9_12_AM',
 'GRADES_ALL_AM',
 'GRADES_PK_AS',
 'GRADES_KG_AS',
 'GRADES_4_AS',
 'GRADES_8_AS',
 'GRADES_12_AS',
 'GRADES_1_8_AS',
 'GRADES_9_12_AS',
 'GRADES_ALL_AS',
 'GRADES_PK_HI',
 'GRADES_KG_HI',
 'GRADES_4_HI',
 'GRADES_8_HI',
 'GRADES_12_HI',
 'GRADES_1_8_HI',
 'GRADES_9_12_HI',
 'GRADES_ALL_HI',
 'GRADES_PK_BL',
 'GRADES_KG_BL',
 'GRADES_4_BL',
 'GRADES_8_BL',
 'GRADES_12_BL',
 'GRADES_1_8_BL',
 'GRADES_9_12_BL',
 'GRADES_ALL_BL',
 'GRADES_PK_WH',
 'GRADES_KG_WH',
 'GRADES_4_WH',
 'GRADES_8_WH',
 'GRADES_12_WH',
 'GRADES_1_8_WH',
 'GRADES_9_12_WH',
 'GRADES_ALL_WH',
 'GRADES_PK_HP',
 'GRADES_KG_HP',
 'GRADES_4_HP',
 'GRADES_8_HP',
 'GRADES_12_HP',
 'GRADES_1_8_HP',
 'GRADES_9_12_HP',
 'GRADES_ALL_HP',
 'GRADES_PK_TR',
 'GRADES_KG_TR',
 'GRADES_4_TR',
 'GRADES_8_TR',
 'GRADES_12_TR',
 'GRADES_1_8_TR',
 'GRADES_9_12_TR',
 'GRADES_ALL_TR',
 'GRADES_PK_AMM',
 'GRADES_KG_AMM',
 'GRADES_4_AMM',
 'GRADES_8_AMM',
 'GRADES_12_AMM',
 'GRADES_1_8_AMM',
 'GRADES_9_12_AMM',
 'GRADES_ALL_AMM',
 'GRADES_PK_AMF',
 'GRADES_KG_AMF',
 'GRADES_4_AMF',
 'GRADES_8_AMF',
 'GRADES_12_AMF',
 'GRADES_1_8_AMF',
 'GRADES_9_12_AMF',
 'GRADES_ALL_AMF',
 'GRADES_PK_ASM',
 'GRADES_KG_ASM',
 'GRADES_4_ASM',
 'GRADES_8_ASM',
 'GRADES_12_ASM',
 'GRADES_1_8_ASM',
 'GRADES_9_12_ASM',
 'GRADES_ALL_ASM',
 'GRADES_PK_ASF',
 'GRADES_KG_ASF',
 'GRADES_4_ASF',
 'GRADES_8_ASF',
 'GRADES_12_ASF',
 'GRADES_1_8_ASF',
 'GRADES_9_12_ASF',
 'GRADES_ALL_ASF',
 'GRADES_PK_HIM',
 'GRADES_KG_HIM',
 'GRADES_4_HIM',
 'GRADES_8_HIM',
 'GRADES_12_HIM',
 'GRADES_1_8_HIM',
 'GRADES_9_12_HIM',
 'GRADES_ALL_HIM',
 'GRADES_PK_HIF',
 'GRADES_KG_HIF',
 'GRADES_4_HIF',
 'GRADES_8_HIF',
 'GRADES_12_HIF',
 'GRADES_1_8_HIF',
 'GRADES_9_12_HIF',
 'GRADES_ALL_HIF',
 'GRADES_PK_BLM',
 'GRADES_KG_BLM',
 'GRADES_4_BLM',
 'GRADES_8_BLM',
 'GRADES_12_BLM',
 'GRADES_1_8_BLM',
 'GRADES_9_12_BLM',
 'GRADES_ALL_BLM',
 'GRADES_PK_BLF',
 'GRADES_KG_BLF',
 'GRADES_4_BLF',
 'GRADES_8_BLF',
 'GRADES_12_BLF',
 'GRADES_1_8_BLF',
 'GRADES_9_12_BLF',
 'GRADES_ALL_BLF',
 'GRADES_PK_WHM',
 'GRADES_KG_WHM',
 'GRADES_4_WHM',
 'GRADES_8_WHM',
 'GRADES_12_WHM',
 'GRADES_1_8_WHM',
 'GRADES_9_12_WHM',
 'GRADES_ALL_WHM',
 'GRADES_PK_WHF',
 'GRADES_KG_WHF',
 'GRADES_4_WHF',
 'GRADES_8_WHF',
 'GRADES_12_WHF',
 'GRADES_1_8_WHF',
 'GRADES_9_12_WHF',
 'GRADES_ALL_WHF',
 'GRADES_PK_HPM',
 'GRADES_KG_HPM',
 'GRADES_4_HPM',
 'GRADES_8_HPM',
 'GRADES_12_HPM',
 'GRADES_1_8_HPM',
 'GRADES_9_12_HPM',
 'GRADES_ALL_HPM',
 'GRADES_PK_HPF',
 'GRADES_KG_HPF',
 'GRADES_4_HPF',
 'GRADES_8_HPF',
 'GRADES_12_HPF',
 'GRADES_1_8_HPF',
 'GRADES_9_12_HPF',
 'GRADES_ALL_HPF',
 'GRADES_PK_TRM',
 'GRADES_KG_TRM',
 'GRADES_4_TRM',
 'GRADES_8_TRM',
 'GRADES_12_TRM',
 'GRADES_1_8_TRM',
 'GRADES_9_12_TRM',
 'GRADES_ALL_TRM',
 'GRADES_PK_TRF',
 'GRADES_KG_TRF',
 'GRADES_4_TRF',
 'GRADES_8_TRF',
 'GRADES_12_TRF',
 'GRADES_1_8_TRF',
 'GRADES_9_12_TRF',
 'GRADES_ALL_TRF',
 'AVG_MATH_4_SCORE',
 'AVG_MATH_8_SCORE',
 'AVG_READING_4_SCORE',
 'AVG_READING_8_SCORE']

In [8]:
df['avg_local_revenue']=df['LOCAL_REVENUE']/df['GRADES_ALL_G']
df['avg_instruction_expenditure'] = df['INSTRUCTION_EXPENDITURE'] / df['GRADES_ALL_G']
df['fracn_schoolage'] = df['ENROLL']/ df['GRADES_ALL_G']

In [ ]:
#sns.pairplot(df)

In [ ]:
corr = df.corr()
print(corr.shape)
fig, ax = plt.subplots(figsize=(8, 6))
sns.heatmap(corr)

In [ ]:
sns.distplot(df['avg_instruction_expenditure'].dropna())

In [ ]:
sns.jointplot("YEAR", "AVG_MATH_4_SCORE", data=df, kind="reg")
sns.jointplot("YEAR", "AVG_READING_4_SCORE", data=df, kind="reg")

In [ ]:
sns.jointplot("avg_local_revenue", "AVG_READING_4_SCORE", data=df, kind="reg")

In [ ]:
sns.jointplot("avg_instruction_expenditure", "AVG_MATH_4_SCORE", data=df, kind="reg")

In [ ]:
sns.jointplot("AVG_READING_4_SCORE", "AVG_MATH_4_SCORE", data=df, kind="reg")

In [ ]:
sns.jointplot("AVG_MATH_8_SCORE", "AVG_MATH_4_SCORE", data=df, kind="reg")

In [ ]:
df1=df.drop(['PRIMARY_KEY','AVG_MATH_8_SCORE','AVG_READING_4_SCORE','AVG_READING_8_SCORE','ENROLL'],axis=1)
df1 = df1.dropna()
df1 = pd.get_dummies(df1, columns=['STATE'])

y=df1.loc[:,'AVG_MATH_4_SCORE'].values
X=df1.drop(['AVG_MATH_4_SCORE'],axis=1).loc[:,:].values

In [ ]:
rf_model = RandomForestRegressor(n_estimators=100)
rf_model.fit(X, y)

In [ ]:
Y_rf=rf_model.predict(X)
plt.plot(Y_rf, y, 'ro')
plt.show()

In [ ]:
feature_importances_rf = pd.DataFrame(rf_model.feature_importances_, index = df1.drop(['AVG_MATH_4_SCORE'],axis=1).columns, columns=['importance']).sort_values('importance',ascending=False)
feature_importances_rf.head(10)

In [ ]:
feature_importances_rf.tail(10)

In [ ]:
from sklearn import svm
svm_model = svm.SVR(gamma='scale')
svm_model.fit(X, y)

In [ ]:
Y_rf=svm_model.predict(X)
plt.plot(Y_rf, y, 'ro')
plt.show()